 <div class="form">  

  <div class="thumbnail"><img src="../../assets/image/handshake.png"></div>
  <div class="container">
  <div class="info">
    <h1>Adminstration Login</h1>
  </div>
</div>
  <form class="register-form">
    <input type="text" placeholder="AdminUsername" ng-model="adminUsername"/>
    <input type="password" placeholder="Adminpassword" ng-model="adminPassword"/>
 
    <button class="button1" type="button" ng-click="submit()">Login</button>
    <button class="button2"><a href="/">Cancel</a></button>
  <p class="message">Not registered? <a href="/">Create an account</a> </p>

  </form>
</div>