  <div class="form">  

  <div class="thumbnail"><img src="../../assets/image/handshake.png"></div>
 
  <div class="container">
  <div class="info">
    <h1>Shop Rater</h1>
  </div>
</div>
  <form class="login-form" ng-submit="login.doLogin()">
  <div class="alert alert-danger warning" ng-if="login.error">
        {{ login.error }}
      </div>
    <input type="text" placeholder="ShopID" ng-model="login.loginData.username"/>
    <input type="password" placeholder="Password" ng-model="login.loginData.password"/>
    <button type="submit">Login</button>
    <p class="message">Not registered? <a href="/users/create">Create an account</a>
     &nbsp&nbsp<a href="/admin">Admin</a>
    </p>


  </form>
</div>