
<div class="outer_main">
  <section>
    <div class="outer_main_top">
      <div class="col-xs-12 pad_none top_logo_social_icon">
        <div class="outer_logo"><a href="index.html"><img src="assets/images/logo.png" alt="Reltup Logo"></a></div>
        <div class="outer_social_media">
          <div class="single_icon link">
            <a href="https://www.linkedin.com/company/reltup/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <div class="single_icon twitt">
            <a href="https://twitter.com/reltup">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </div>
          <div class="single_icon fb">
            <a href="https://www.facebook.com/Reltup/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    
      <div class="col-xs-12 pad_none cont_making_vision">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 pad_none outer_making_vision">
              <div class="col-md-6 col-sm-6 col-xs-12 pad_none outer_text_making">
                <h1 class="fadeInUp wow" data-wow-duration="2s" data-wow-delay="0s">Making <span>Visions</span> Come True</h1>
                <div class="col-xs-12 pad_none fadeInUp wow both_button_outer" data-wow-duration="2s" data-wow-delay="0.3s">
                  <!--div class="button_single"><a href="javascript:;">
                    <div class="butn_img"><img src="assets/images/button_first.png" alt=""></div>
                    <span class="scroll_right">Login</span>
                  </a></div>
                  <div class="button_single blue"><a href="javascript:;">
                    <div class="butn_img"><img src="assets/images/button_secong.png" alt=""></div>
                    <span class="scroll_right">Sign Up</span>
                  </a></div-->
                  <div class="button_single">
                    <button class="login_pop button button--ujarak button--border-medium button--round-s button--text-thick" data-toggle="modal" data-target="#loginModal"><img src="assets/images/button_first.png" alt="" > Login</button>
                  </div>
                  <div class="button_single blue">
                    <button class="sign_pop button button--ujarak button--border-medium button--round-s button--text-thick" data-toggle="modal" data-target="#regModal"><img src="assets/images/button_secong.png" alt="" ng-click="console.log('signup click')"> Sign up</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 pad_none outer_text_making_img">
                <img src="assets/images/Graphics.png" alt="Graphics">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="discussion_outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 pad_none discussion_inner">
        <h1>What Can You do?</h1>
          <div class="col-xs-12 col-md-6 col-sm-6 pad_none discussion_left_part">
          <img src="assets/images/contant-right-img.png" alt="">
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6 pad_none discussion_right_part">
           <div class="col-xs-12 col-md-12 col-sm-12 pad_none slideInRight wow discussion_right_one">
             <div class="discussion_one">
                <div class="discussion_one_inner">
                  <span><img src="assets/images/discussion-img1.png" alt=""></span>
                </div>
             </div>
             <div class="discussion_one_right_text">
                <h2>Discussion</h2>
                 <ul>
                 <li>Discuss your ideas with U of I community.</li>
                 <li>Ask for advice/ mentoring </li>
                 <li>Chitchat about entrepreneurship</li>
                 </ul>
             </div>
           </div>
           <div class="col-xs-12 col-md-12 col-sm-12 pad_none slideInRight wow discussion_right_one">
             <div class="discussion_one">
                <div class="discussion_one_inner">
                  <span><img src="assets/images/discussion-img2.png" alt=""></span>
                </div>
             </div>
             <div class="discussion_one_right_text">
                <h2>Talents Solution</h2>
                 <ul>
                 <li>Need a cofounder / developer / designer?</li>
                 <li>Free, direct access to all our users </li>
                 <li>Hire Reltup ready developer / designer</li>
                 </ul>
             </div>
           </div>
           
           <div class="col-xs-12 col-md-12 col-sm-12 pad_none slideInRight wow discussion_right_one">
             <div class="discussion_one">
                <div class="discussion_one_inner">
                  <span><img src="assets/images/discussion-img3.png" alt=""></span>
                </div>
             </div>
             <div class="discussion_one_right_text">
                <h2>Social features</h2>
                 <ul>
                 <li>Upload your own startup </li>
                 <li>Follow startups </li>
                 <li>Post on your personal wall  </li>
                 <li>Add new friends and get discovered by others!</li>
                 </ul>
             </div>
           </div>
            </div>
           <p>...and more!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="running_outer">
   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12  pad_none running_inner">
         <div class="running_inn">
         <img src="assets/images/discussion-img4.png" alt="">
         </div>
         <p class="flipInX wow" data-wow-duration="2s" data-wow-delay="0s">Running a successful startup isn't easy. Our mission is to help you soar.</p>
        <span class="flipInX wow" data-wow-duration="2s" data-wow-delay="0s">- Jordan T, Reltup founder.</span>
      </div>
    </div>
   </div>
  </section>
  
  <!--HOLDING-SECTION-STRAT-->
  <section class="holding-outer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="slideInLeft wow">What is holding you back?</h2>
          <div class="sign-up slideInRight wow"><a href="javascript:;">sign me up!</a></div>
        </div>
      </div>
    </div>
  </section>
  <!--HOLDING-SECTION-END-->
  <!--FOOTER-STRAT-->
  <footer class="footer-out">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© 2017 reltup.com, All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!--FOOTER-END-->
</div>


<!--POP STARTS-->
<div class="black_bg" style="display:none;"></div>
<div class="poup_outer pop_one"  style="display:none;">
  <img src="assets/images/close.png" alt="" class="close">
   <h3>Create An Account</h3>
    <div class="poup_form">
       <form action="" method="get">
       <input name="" type="text" placeholder="@illinois.edu">
       <input name="" type="text" placeholder="Password">
       <input name="" type="text" placeholder="Display Name">
     <input name="" value="Create Account!" type="button" class="account">
       </form>
       <p>Already have an account?</p>
       <a href="#">Login Here</a>
    </div>
</div>


<div class="poup_login pop_second" style="display:none;">
  <div class=" poup_outer2">
  <img src="assets/images/close.png" alt="" class="close">
   <h3>login to reltup</h3>
    <div class="poup_form">
       <form action="" method="get">
       <input name="" type="text" placeholder="@illinois.edu">
       <input name="" type="text" placeholder="Password">
     <input name="" value="Login" type="button" class="account">
       </form>
       <div class="signup">
         <ul>
         <li>SIGNUP </li>
         <li>Forgot Password</li>
         </ul>
       </div>
       </div>
       </div>
     <div class="global_outer">
         <h4>"Global vision, local win."</h4>
         <p><span>Jack Ma,</span> Chairman of Alibaba Group</p>
     </div>
</div>

<div class="poup_outer pop_third resent"  style="display:none;">
  <img src="assets/images/close.png" alt="" class="close">
   <h3>Reset your Password</h3>
    <div class="poup_form">
       <form action="" method="get">
       <input name="" type="text" placeholder="@illinois.edu">
     <input name="" value="Reset Password" type="button" class="account">
       <div class="reset_outer">Or</div>
        <input name="" value="Login" type="button" class="account login">
       </form>
    </div>
</div>

<!--POP ENDS-->



<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content ">
    <div class=" poup_outer2 ">
  <img src="assets/images/close.png" alt="" class="close" data-dismiss="modal">
   <h3>Login to Reltup</h3>
    <div class="poup_form">


       <form ng-submit="submitLoginForm()"   name="LoginForm" novalidate>
       <input type="text" placeholder="@illinois.edu" ng-model="validUsername" id="validUsername" name="validUsername" ng-pattern="username" required ng-class=" { 'has-error' : LoginForm.validUsername.$invalid && !LoginForm.validUsername.$pristine } " autocomplete="off">
           <p ng-show="LoginForm.validUsername.$invalid && !LoginForm.validUsername.$pristine" class="help-block">{{email_err}}</p>
       <input type="password" placeholder="Password" ng-model="validPassword" id="validPassword" name="validPassword" required ng-class=" { 'has-error' : LoginForm.validPassword.$invalid && !LoginForm.validPassword.$pristine } " ng-minlength="3" ng-maxlength="20">
           <p ng-show="LoginForm.validPassword.$error.minlength" class="help-block">{{pass_err_length_min}}</p>
            <p ng-show="LoginForm.validPassword.$error.maxlength" class="help-block">{{pass_err_length_max}}</p>
           <p ng-show="LoginForm.validPassword.$invalid && !LoginForm.validPassword.$pristine && !LoginForm.validPassword.$error.minlength && !LoginForm.validPassword.$error.maxlength" class="help-block">{{pass_err}}</p>
     <input name="loginFormSubmit" id="loginFormSubmit" value="Login" type="submit" class="account" ng-disabled="LoginForm.$invalid">
       </form>
       <div class="signup">
         <ul>
         <li data-toggle="modal" data-target="#regModal" data-dismiss="modal">SIGNUP </li>
         <li data-toggle="modal" data-target="#forgetModal" data-dismiss="modal">Forgot Password</li>
         </ul>
       </div>
       </div>
       <div class="global_outer">
         <h4>"Global vision, local win."</h4>
         <p><span>Jack Ma,</span> Chairman of Alibaba Group</p>
     </div>
       </div>
     {{error}}
    </div>

  </div>
</div>



<!-- Modal -->
<div id="regModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content ">
    <div class=" poup_outer2 ">
  <img src="assets/images/close.png" alt="" class="close" data-dismiss="modal">
   <h3>Create An Account</h3>
    <div class="poup_form">
       <form action="" method="get">
       <input name="" type="text" placeholder="@illinois.edu">
       <input name="" type="text" placeholder="Password">
       <input name="" type="text" placeholder="Display Name">
     <input name="" value="Create Account!" type="button" class="account">
       </form>
       <p>Already have an account?</p>
       <a href="#"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Login Here</a>
    </div>
       </div>
     
    </div>

  </div>
</div>


<!-- Modal -->
<div id="forgetModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content ">
    <div class=" poup_outer2 ">
  <img src="assets/images/close.png" alt="" class="close" data-dismiss="modal">
   <h3>Reset your Password</h3>
    <div class="poup_form">
       <form action="" method="get">
       <input name="" type="text" placeholder="@illinois.edu">
     <input name="" value="Reset Password" type="button" class="account">
       <div class="reset_outer">Or</div>
        <input name="" value="Login" type="button" class="account login"  data-toggle="modal" data-target="#loginModal" data-dismiss="modal">
       </form>
    </div>
       </div>
     
    </div>

  </div>
</div>