*{margin:0; padding:0; list-style:none;text-decoration:none;}
body{font-family: 'proxima_nova_rgregular'; overflow-x: hidden;}
.pad_none{padding:0 !important;}
a:hover{text-decoration:none;}
a,input{outline:0 !important;}
h1, h2, h3, h4, h5, h6, a {Padding:0; margin:0; text-decoration:none;}


.outer_main
{
	float:left;
	width:100%;
}
.outer_main_top
{
	float:left;
	width:100%;
	background:url(../images/main_bg.jpg) center top no-repeat;;
}
.top_logo_social_icon {
	margin: 20px 0 0 0;
}
.outer_logo {
	float: left;
	width: auto;
	margin: 0 0 0 94px;
}
.outer_social_media {
	float:right;
	width:auto;
	margin:15px 90px 0 0;
}
.single_icon {
	float: left;
	margin: 0 5px;
}
.single_icon a {
	float: left;
	width:35px;
	height:35px;
	text-align:center;
	border:2px solid #fff;
	-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}
.single_icon a:hover {
-webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); 
	
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}
.single_icon a .fa {
	color:#fff;
	font-size: 21px;
	margin: 5px 0 0 0;
}
.link a:hover{
	border:2px solid #399be6;
}
.link a:hover .fa{
	color:#399be6;
}
.twitt a:hover{
	border:2px solid #1cb7eb;
}
.twitt a:hover .fa{
	color:#1cb7eb;
}
.fb a:hover{
	border:2px solid #687aa7;
}
.fb a:hover .fa{
	color:#687aa7;
}
.cont_making_vision {
	margin:118px 0 178px 0;
}
.outer_text_making {
	padding: 148px 0 0 76px !important;
}
.outer_text_making h1 {
	color:#fff;
	font-size:69px;
	line-height:76px;
	text-align: left;
	font-family: 'robotothin';
}
.outer_text_making h1 span {
	font-family: 'robotomedium';
}
.outer_text_making_img {
	text-align: center;
}
.both_button_outer
{
	margin:13px 0 0 0;
}
.button_single
{
	float:left;
	width:160px;
	margin:0 8px 0 0;
}
.button_single a
{
	float:left;
	width:100%;
	height:55px;
	margin:0 8px 0 0;
	padding: 15px 0;
	overflow: hidden;
	text-align: center;
	border:2px solid #fff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
.button_single button {
	float: left;
	width: 100%;
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 15px 0;
	height: 54px;
	text-transform: uppercase;
	font-family: 'robotomedium';
}
.button_single img {
	margin: 0 6px 0 0;
	position: relative;
	top: -2px;
}
.button_single .button--ujarak::before {
	background: #ff9a27;
}
.button_single button:hover {
	border: 2px solid #ff9a27;
}
.button_single.blue .button--ujarak::before {
	background: #02a8fe;
}
.button_single.blue button:hover {
	border: 2px solid #02a8fe;
}
/*.button_single a:hover {
	background:#ff9a27;
	border:2px solid #ff9a27;	
	transition:All 0.5s ease;
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;
}
.button_single.blue a:hover {
	background: #02a8fe;
	border: 2px solid #02a8fe;
	transition: All 0.5s ease;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
}*/
.butn_img {
	display: inline-block;
	float: none;
	position: relative;
	top: -2px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
}
.button_single a span {
	display:inline-block;
	float:none;
	color:#fff;
	font-size:18px;
	line-height:20px;
	margin: 0 0 0 10px;
	text-transform:uppercase;
	position:relative;
	font-family: 'robotomedium';
}

/*What can we do Starts*/

section
{
	float:left;
	width:100%;
}

.outer_main
{
 float:left;
 width:100%;
}
.discussion_outer
{
	background:url(../images/contant-bg.jpg) center top no-repeat;
	background-size:cover;
}
.discussion_inner {
	padding: 78px 0 66px !important;
}
.discussion_left_part
{
	padding:0 44px 0 0px !important;
}
.discussion_one {
	height: 191px;
	width: 191px;
	text-align: center;
	float: left;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: 1px 1px 4px #cae0df;
	-webkit-box-shadow: 1px 1px 4px #cae0df;
	-moz-box-shadow: 1px 1px 4px #cae0df;
	-o-box-shadow: 1px 1px 4px #cae0df;
}
.discussion_one_inner
{
	display:inline-block;
	width:auto;
}
.discussion_one_inner span
{
	display:table-cell;
	vertical-align:middle;
	height:191px;
}
.discussion_one_right_text {
	float: left;
	padding: 0 0 0 34px;
	width: 67%;
	float: none;
	display: table-cell;
	height: 191px;
	vertical-align: middle;
}
.discussion_one_right_text h2 {
	font-size: 29.22px;
	color: #01a8fe;
	line-height: 41px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0 0 20px;
	position: relative;
	padding-bottom: 0px;
}
.discussion_one_right_text h2::before
{
	content:"";
	position:absolute;
	width:89px;
	height:1px;
	background:#aab5b2;
	left:4px;
	bottom:-8px;
}
.discussion_one_right_text ul
{
	text-decoration:none;
	margin:0;
	padding:0;
}
.discussion_one_right_text li
{
	font-size:18px;
	color:#3b3b3b;
	padding:0 0 8px 25px;
	background:url(../images/discussion-earo.png) left 5px no-repeat;
	line-height:normal;
	font-family: 'proxima_novaregular';
}
.discussion_right_one
{
	margin-bottom:40px;
}
.running_outer
{
	background:url(../images/bottom-img.png) center top no-repeat;
	background-size: 100% auto;
}

.discussion_inner h1 {
	font-size: 55px;
	color: #5c5c5c;
	margin: 0 0 80px;
	text-align: center;
	font-family: 'proxima_novabold';
}
.discussion_inner p {
	font-size: 42px;
	color: #12a2f3;
	text-align: center;
	text-align: center;
	float: left;
	width: 100%;
	line-height: normal;
	font-family: 'Pacifico';
}

.running_inner {
	padding: 227px 0 90px !important;
}
.running_inn
{
	float:left;
	width:100%;
	text-align:center;
}
.running_inner p {
	font-size: 42px;
	color: #3b4453;
	margin: 18px 0 0;
	display: inline-block;
	padding: 0 17%;
	text-align: center;
	line-height: 52px;
	font-family: 'proxima_novalight';
}
.running_inner span
{
	float:left;
	width:100%;
	text-align:center;
	font-size:26px;
	color:#01a8fe;
	padding: 25px 0 0;
	font-family: 'AkzidenzGroteskCERoman';
}

/*What can we do Ends*/

/*HOLDING-SECTION*/
.holding-outer
{
	float: left;
	width: 100%;
	background:url(../images/img-background-hold.png) no-repeat;
	background-size:cover;
	text-align:center;
	padding:83px 0 76px;
}
.holding-outer h2
{
	font-size:55px;
	color:#fff;
	font-family: 'proxima_novabold';
	padding:0 0 20px 0;
}
.sign-up
{
	display:inline-block;
	width: 316px;
}
.sign-up a
{
	float:left;
	width:100%;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding:18px 0;
	background-color:#12a2f3;
	color:#fff;
	border-radius:3px;
	font-size:26px;
	font-family: 'proxima_novaregular';
	text-transform:uppercase;
}
.sign-up a:hover {
	background:#ff9a27;
	color:#fff;
}
/*HOLDING-SECTION-END*/

/*FOOTER*/
.footer-out
{
	text-align:center;
}
.footer-out p
{
	font-size:19px;
	font-family: 'proxima_novaregular';
	color:#3b4453;
	padding: 38px 0 45px 0;
	margin: 0;
}
/*FOOTER-END*/



/*=======POPUP STARTS========*/

.black_bg
{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:rgba(0, 0, 0, 0.7);
}

.poup_outer {
	position: fixed;
	z-index: 10;
	top:50%;
	left:50%;
	float: left;
	width: 676px;
	background: #fff url(../images/poup-bg.png) center bottom no-repeat;
	padding:80px 100px 80px;
	box-shadow: 1px 1px 4px #2f3135;
	-webkit-box-shadow: 1px 1px 4px #2f3135;
	-moz-box-shadow: 1px 1px 4px #2f3135;
	transform: translate(-50%, -50%);
}
.poup_outer h3 {
	text-align: center;
	font-size: 44px;
	color: #5c5c5c;
	margin: 0;
	font-family: 'proxima_novabold';
	/*background: url(../images/star.png) center bottom no-repeat;*/
	padding: 0;
	text-transform: uppercase;
}
.poup_form
{
	float:left;
	width:100%;
	padding:36px 0 0;
}
.poup_form input {
	border: 1px solid #454545;
	margin-bottom: 9px;
	float: left;
	width: 100%;
	font-size: 18px;
	color: #5c5c5c;
	height: 63px;
	padding: 0 29px;
	font-family: 'proxima_novalight';
	outline:none;
}
.account
{
	border:none !important;
	background: #ff9a27;
	font-size:22px !important;
	color:#fff !important;
	width:100% !important;
	text-transform:uppercase;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-bottom: 2px solid #0a5b89 !important;
	font-family: 'proxima_novaregular' !important;
	height:70px !important;
	margin-top:9px !important;
	outline:none;
}
.poup_form p
{
	font-size:22px;
	color:#5c5c5c;
	padding:22px 0 10px;
	margin:0;
	text-align:center;
	float:left;
	width:100%;
	font-family: 'proxima_novaregular';
}
.poup_form a
{
	font-size:22px;
	color:#12a2f3;
	margin:0;
	text-align:center;
	float:left;
	width:100%;
	text-transform:uppercase;
	font-family: 'proxima_novabold';
}
.close {
	position: absolute;
	right: -18px;
	top: -16px;
	opacity: 1 !important;
}
.poup_outer2 h3 {
    text-align: center;
    font-size: 38px;
    color: #5c5c5c;
    margin: 0;
    font-family: 'proxima_novabold';
    /* background: url(../images/star.png) center bottom no-repeat; */
    padding: 0;
    text-transform: uppercase;
}

/*two*/
.signup
{
	float:left;
	width:100%;
	text-align:center;
	padding: 30px 0 0;
}
.signup ul
{
	margin:0;
	padding:0;
	text-decoration:none;
}
.signup li
{
	font-size:20px;
	color:#5c5c5c;
	text-transform:uppercase;
	display:inline-block;
	padding:0 15px;
	background:url(../images/border.png) right 5px no-repeat;
	font-family: 'PROXIMANOVACONDSEMIBOLDWEBFONT_0';
	font-weight:600;
}
.signup li:last-child
{
	background:none;
}

.global_outer
{
	float:left;
	width:100%;
	padding: 30px 0 0;
	border-top: 1px solid #e1e1e1;
}
.global_outer h4
{
	font-size:35px;
	color:#5c5c5c;
	text-align:center;
	margin:0;
	font-family: 'proxima_novabold';
}
.global_outer p
{
	font-size:23px;
	color:#5c5c5c;
	text-align:center;
	margin:0;
	padding:0;
	font-family: 'proxima_novaregular';
}
.global_outer p span
{
	color:#ff9a27;
}
.reset_outer {
	float: left;
	width: 100%;
	padding: 11px 0 20px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'PROXIMANOVACONDSEMIBOLDWEBFONT_0';
	color: #5c5c5c;
}
.account.login
{
	background:#ff9a27;
	border-bottom: 2px solid #c3751c !important;
	margin-bottom:60px;
}

.poup_outer.resent h3 {
	font-size: 40px;
}

.poup_outer2 {
	float: left;
	padding: 80px 100px 40px;
	width: 100%;
}
.poup_login
{
	padding-bottom: 60px;
	width: 676px;
	float:left;
	box-shadow: 1px 1px 4px #2f3135;
	-webkit-box-shadow: 1px 1px 4px #2f3135;
	-moz-box-shadow: 1px 1px 4px #2f3135;
	position:relative;
	margin:20px 0 0;
	background:#fff url(../images/poup-bg.png) center bottom no-repeat;
}
.poup_login h3 {
	text-align: center;
	font-size: 44px;
	color: #5c5c5c;
	margin: 0;
	font-family: 'proxima_novabold';
	background: url(../images/star.png) center bottom no-repeat;
	padding: 0 0 20px;
	text-transform: uppercase;
}
/*two*/


/*thankyou*/

.thankyou_outer
{
	float:left;
	width:100%;
	background:#394251;
}

.thankyou_outer .top_logo_social_icon {
	margin: 15px 0 15px 0;
}
.thankyou_inner02
{
	padding:86px 0 60px !important;
	text-align:center;
}
.thankyou_inner03 {
	text-align: center;
	padding: 20px 0 0 !important;
}
.thankyou_inner03 p
{
	font-size:42px;
	color:#3b4453;
	line-height:52px;
	 font-family: 'proxima_novalight';
	 margin:0;
	 float:left;
	 width:100%;
	 text-align:center;
}
.thankyou_inner03 p samp
{
	font-family: 'PROXIMANOVACONDSEMIBOLDWEBFONT_0';
	color:#ff9a27;
}

.thankyou_inner03 span
{
   display:inline-block;
	width:auto;
	padding:20px 0 0;
	font-family: 'AkzidenzGroteskCERoman';
	font-size:26px;
	color:#3b4453;
}
.thankyou_inner03 span strong
{
	color:#01a8fe;
}
.social-footer {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 65px;
}
.social-footer a
{
	margin:0 4px;
}
.social-footer .fa.fa-facebook {
	font-size: 21px;
	line-height: 42px;
	width: 44px;
	display: inline-block;
	border: 3px solid #3776dd;
	border-radius: 50%;
	height: 44px;
	color:#3776dd;
	transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
.social-footer .fa.fa-facebook:hover {
	border: 3px solid #3776dd;
	color:#fff;
	background:#3776dd;
}
.social-footer .fa.fa-twitter
 {
	font-size: 21px;
	line-height: 41px;
	width: 44px;
	display: inline-block;
	border: 3px solid #00bdf5;
	border-radius: 50%;
	height: 44px;
	color:#00bdf5;
	transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
.social-footer .fa.fa-twitter:hover
 {
	border: 3px solid #00bdf5;
	color:#fff;
	background:#00bdf5;
}
.social-footer .fa.fa-linkedin
 {
	font-size: 21px;
	line-height: 38px;
	width: 44px;
	display: inline-block;
	border: 3px solid #15a0c2;
	border-radius: 50%;
	height: 44px;
	color:#15a0c2;
	transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
.social-footer .fa.fa-linkedin:hover
 {
	border: 3px solid #15a0c2;
	color:#fff;
	background:#15a0c2;
}
.thankyou_footer
{
	float:left;
	width:100%;
	background:url(../images/thanyou-footer.png) center bottom no-repeat;
	background-size:100% auto;
}
.thankyou_footer_inn
{
	padding:127px 0 20px !important;
	text-align:center;
}

.thankyou_footer_inn p {
	font-size: 19px;
	font-family: 'proxima_novaregular';
	color: #3b4453;
	margin: 0;
}

/*thankyou-end*/

/* ------------WBC096------------------*/ 
.poup_outer2 {
    background: #fff url(../images/poup-bg.png) center bottom no-repeat;
}

p.help-block {
    color: #ff9a27;
    /* margin: -11px; */
    padding: 0px;
    line-height: 13px;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}

button[disabled], html input[disabled] {
    cursor: not-allowed;
}

.signup li {
    cursor: pointer;
}