   <div class="form">  

  <div class="thumbnail"><img src="../../assets/image/handshake.png"></div>
   <p id="demo"></p>
  <div class="container">
  <div class="info">
    <h1>Sign Up</h1>
  </div>
</div>
  <form class="register-form">
    <input type="text" placeholder="Shop name"/>
    <input type="text" placeholder="Shop ID"/>
    <input type="password" placeholder="Password"/>
   
<button type="button"
onclick="document.getElementById('demo').innerHTML ='You have now signin'"> create </button>
    <p class="message">Already registered? <a href="/">Sign In</a></p>
  </form>
</div>
