<div class="outer_main">
	<section>
		<div class="thankyou_outer">
			<div class="col-xs-12 pad_none top_logo_social_icon">
				<div class="outer_logo"><a href="index.html"><img src="assets/images/logo.png" alt="Reltup Logo"></a></div>
				<div class="outer_social_media">
					<div class="single_icon link">
						<a href="javascript:;">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
					</div>
					<div class="single_icon twitt">
						<a href="javascript:;">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
					<div class="single_icon fb">
						<a href="javascript:;">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
<section class="thankyou_inner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12 pad_none thankyou_inner02">
         <img src="assets/images/thank-you.png" alt="">
         <div class="col-xs-12 col-md-12 col-sm-12 pad_none thankyou_inner03">
             <p>Reltup will be relaunched on <samp>March 3rd.</samp> <br>See you again soon!</p>
             <span>Love - <strong>From Jorden.</strong></span>
             <div class="social-footer">
                  <a href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="javascript:;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                 <a href="javascript:;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
             </div>
         </div>
      </div>
    </div>
  </div>
</section>	

<section class="thankyou_footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 pad_none thankyou_footer_inn">
       <p>© 2017 reltup.com, All rights reserved.</p>
      </div>
    </div>
  </div>
</section>
	
</div>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.js"></script>
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
    document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);
    };
  </script>

  <style>
  .modal-backdrop.fade.in
  {
  	opacity: 0;
  }
  </style>